// Colors
.c-primary-blue {
    color: $primary-blue !important;
}

.c-text-gray {
    color: $color-text-gray;
}

.c-dark-gray {
    color: $color-dark-gray;
}

.c-mid-gray {
    color: $color-mid-gray;
}

.c-light-gray {
    color: $color-light-gray;
}

.c-nube-white {
    color: $color-nube-white;
}

.c-success {
    color: $success-color;
}

.c-warning {
    color: $alert-warning;
}

.c-danger {
    color: $alert-danger;
}

.c-white {
    color: $white;
}
