// 1. Margins

.m {
    &-all {
        margin: $baseline;

        &-sixth {
            margin: $baseline-sixth !important;
        }

        &-quarter {
            margin: $baseline-quarter !important;
        }

        &-half {
            margin: $baseline-half;
        }

        &-double {
            margin: $baseline-double;
        }
    }

    &-top {
        margin-top: $baseline;

        &-neg {
            margin-top: -$baseline !important;
        }

        &-none {
            margin-top: 0 !important;
        }

        &-sixth {
            margin-top: $baseline-sixth !important;
        }

        &-quarter {
            margin-top: $baseline-quarter !important;
        }

        &-half {
            margin-top: $baseline-half !important;

            &-neg {
                margin-top: -($baseline-half) !important;
            }
        }

        &-double {
            margin-top: $baseline-double !important;

            &-neg {
                margin-top: -($baseline-double) !important;
            }
        }

        &-auto {
            margin-top: auto !important;
        }

        &-3px {
            margin-top: 3px;
        }
    }

    &-right {
        margin-right: $baseline !important;

        &-neg {
            margin-right: -$baseline !important;
        }

        &-none {
            margin-right: 0 !important;
        }

        &-sixth {
            margin-right: $baseline-sixth !important;
        }

        &-quarter {
            margin-right: $baseline-quarter !important;
        }

        &-half {
            margin-right: 10px !important;

            &-neg {
                margin-right: -($baseline-half) !important;
            }
        }

        &-double {
            margin-right: $baseline-double !important;
        }

        &-auto {
            margin-right: auto !important;
        }
    }

    &-bottom {
        margin-bottom: $baseline !important;

        &-neg {
            margin-bottom: -$baseline;
        }

        &-none {
            margin-bottom: 0 !important;
        }

        &-sixth {
            margin-bottom: $baseline-sixth !important;
        }

        &-quarter {
            margin-bottom: $baseline-quarter !important;
        }

        &-half {
            margin-bottom: $baseline-half !important;

            &-neg {
                margin-bottom: -($baseline-half) !important;
            }
        }

        &-double {
            margin-bottom: $baseline-double !important;

            &-neg {
                margin-bottom: -($baseline-double) !important;
            }
        }

        &-auto {
            margin-bottom: auto !important;
        }
    }

    &-left {
        margin-left: $baseline !important;

        &-neg {
            margin-left: -$baseline !important;
        }

        &-none {
            margin-left: 0 !important;
        }

        &-sixth {
            margin-left: $baseline-sixth !important;
        }

        &-quarter {
            margin-left: $baseline-quarter !important;
        }

        &-half {
            margin-left: 10px !important;

            &-neg {
                margin-left: -($baseline-half) !important;
            }
        }

        &-double {
            margin-left: $baseline-double !important;
        }

        &-auto {
            margin-left: auto !important;
        }
    }

    &-none {
        margin: 0 !important;
    }

    // scss-lint:disable NestingDepth
    @include breakpoint(sm) {
        &-sm {
            &-bottom {
                &-quarter {
                    margin-bottom: $baseline-quarter !important;
                }
            }
        }
    }

    @include breakpoint(xs) {
        &-xs {
            &-all {
                margin: $baseline;

                &-sixth {
                    margin: $baseline-sixth !important;
                }

                &-quarter {
                    margin: $baseline-quarter !important;
                }

                &-half {
                    margin: $baseline-half;
                }

                &-double {
                    margin: $baseline-double;
                }

                &-auto {
                    margin: auto !important;
                }
            }

            &-top {
                margin-top: $baseline !important;

                &-neg {
                    margin-top: -$baseline !important;
                }

                &-none {
                    margin-top: 0 !important;
                }

                &-sixth {
                    margin-top: $baseline-sixth !important;
                }

                &-quarter {
                    margin-top: $baseline-quarter !important;
                }

                &-half {
                    margin-top: $baseline-half;

                    &-neg {
                        margin-top: -$baseline-half !important;
                    }
                }

                &-double {
                    margin-top: $baseline-double !important;
                }

                &-auto {
                    margin-top: auto !important;
                }

                &-100 {
                    margin-top: 100px;
                }
            }

            &-right {
                margin-right: $baseline !important;

                &-neg {
                    margin-right: -$baseline;
                }

                &-none {
                    margin-right: 0 !important;
                }

                &-sixth {
                    margin-right: $baseline-sixth !important;
                }

                &-quarter {
                    margin-right: $baseline-quarter !important;
                }

                &-half {
                    margin-right: $baseline-half !important;

                    &-neg {
                        margin-right: -$baseline-half !important;
                    }
                }

                &-double {
                    margin-right: $baseline-double !important;
                }

                &-auto {
                    margin-right: auto !important;
                }
            }

            &-bottom {
                margin-bottom: $baseline !important;

                &-neg {
                    margin-bottom: -$baseline;
                }

                &-none {
                    margin-bottom: 0 !important;
                }

                &-sixth {
                    margin-bottom: $baseline-sixth !important;
                }

                &-quarter {
                    margin-bottom: $baseline-quarter !important;
                }

                &-half {
                    margin-bottom: $baseline-half;

                    &-neg {
                        margin-bottom: -$baseline-half !important;
                    }
                }

                &-double {
                    margin-bottom: $baseline-double !important;

                    &-neg {
                        margin-bottom: -$baseline-double !important;
                    }
                }

                &-auto {
                    margin-bottom: auto !important;
                }
            }

            &-left {
                margin-left: $baseline !important;

                &-neg {
                    margin-left: -$baseline !important;
                }

                &-none {
                    margin-left: 0 !important;
                }

                &-sixth {
                    margin-left: $baseline-sixth !important;
                }

                &-quarter {
                    margin-left: $baseline-quarter !important;
                }

                &-half {
                    margin-left: $baseline-half !important;

                    &-neg {
                        margin-left: -($baseline-half) !important;
                    }
                }

                &-double {
                    margin-left: $baseline-double !important;
                }

                &-auto {
                    margin-left: auto !important;
                }
            }

            &-none {
                margin: 0 !important;
            }
        }
    }
    // scss-lint:enable NestingDepth
}

// 2. Padding

.p {
    &-none {
        padding: 0 !important;
    }

    &-all {
        padding: $baseline !important;

        &-quarter {
            padding: $baseline-quarter !important;
        }

        &-half {
            padding: $baseline-half !important;
        }

        &-double {
            padding: $baseline-double !important;
        }

        &-sixth {
            padding: $baseline-sixth !important;
        }
    }

    &-right {
        padding-right: $baseline !important;

        &-none {
            padding-right: 0 !important;
        }

        &-quarter {
            padding-right: $baseline-quarter !important;
        }

        &-half {
            padding-right: $baseline-half !important;
        }

        &-double {
            padding-right: $baseline-double !important;
        }
    }

    &-bottom {
        padding-bottom: $baseline !important;

        &-none {
            padding-bottom: 0 !important;
        }

        &-quarter {
            padding-bottom: $baseline-quarter !important;
        }

        &-half {
            padding-bottom: $baseline-half !important;
        }

        &-double {
            padding-bottom: $baseline-double !important;
        }
    }

    &-left {
        padding-left: $baseline !important;

        &-none {
            padding-left: 0 !important;
        }

        &-quarter {
            padding-left: $baseline-quarter !important;
        }

        &-half {
            padding-left: $baseline-half !important;
        }

        &-double {
            padding-left: $baseline-double !important;
        }
    }

    &-top {
        padding-top: $baseline !important;

        &-none {
            padding-top: 0 !important;
        }

        &-quarter {
            padding-top: $baseline-quarter !important;
        }

        &-half {
            padding-top: $baseline-half !important;
        }

        &-double {
            padding-top: $baseline-double !important;
        }
    }

    &-vertical {
        padding-top: $baseline;
        padding-bottom: $baseline;

        &-double {
            padding-top: $baseline-double;
            padding-bottom: $baseline-double;
        }

        &-half {
            padding-top: $baseline-half;
            padding-bottom: $baseline-half;
        }

        &-quarter {
            padding-top: $baseline-quarter;
            padding-bottom: $baseline-quarter;
        }
    }

    &-horizontal {
        padding-left: $baseline;
        padding-right: $baseline;

        &-double {
            padding-left: $baseline-double;
            padding-right: $baseline-double;
        }

        &-half {
            padding-top: $baseline-half;
            padding-bottom: $baseline-half;
        }

        &-quarter {
            padding-left: $baseline-quarter;
            padding-right: $baseline-quarter;
        }
    }

    // scss-lint:disable NestingDepth
    @include breakpoint(sm) {
        &-sm {
            &-bottom {
                padding-bottom: $baseline !important;

                &-none {
                    padding-bottom: 0 !important;
                }

                &-double {
                    padding-bottom: $baseline-double !important;
                }
            }

            &-left {
                padding-left: $baseline !important;

                &-none {
                    padding-left: 0 !important;
                }

                &-half {
                    padding-left: $baseline-half !important;
                }
            }

            &-right {
                padding-right: $baseline !important;

                &-none {
                    padding-right: 0 !important;
                }

                &-half {
                    padding-right: $baseline-half !important;
                }
            }
        }
    }

    @include breakpoint(xs) {
        &-xs {
            &-vertical {
                padding-top: $baseline;
                padding-bottom: $baseline;
            }

            &-top {
                padding-top: $baseline !important;

                &-none {
                    padding-top: 0 !important;
                }

                &-double {
                    padding-top: $baseline-double !important;
                }

                &-350 {
                    padding-top: 350px;
                }
            }

            &-right {

                &-none {
                    padding-right: 0 !important;
                }

                &-half {
                    padding-right: $baseline-half !important;
                }
            }

            &-bottom {
                padding-bottom: $baseline !important;

                &-none {
                    padding-bottom: 0 !important;
                }

                &-double {
                    padding-bottom: $baseline-double !important;
                }
            }

            &-all {
                padding: $baseline !important;
            }

            &-left {
                padding-left: $baseline !important;

                &-none {
                    padding-left: 0 !important;
                }

                &-half {
                    padding-left: $baseline-half !important;
                }
            }

            &-all-quarter {
                padding: $baseline-quarter !important;
            }

            &-none {
                padding: 0 !important;
            }
        }
    }
}

// scss-lint:enable NestingDepth
