<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="{{site.company_url}}?from=playbook" class="logo-footer">
                    {% include svgs/logo_tiendanube.svg fill="#fff" %}
                </a>
            </div>
        </div>

        <div class="row m-top-double copyright">
            <div class="col-sm-6">
                <h2 class="h4 c-white">Seguinos</h2>
                <ul class="list-unstyled social-footer">
                    {% for item in site.data.social %}
                        <li><a href="{{ item.url }}" target="_blank" class="social-link">
                            {% include svgs/social/{{item.name}}.svg color="#fff" %}
                        </a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-6 m-xs-top">
                <p class="small c-nube-white">
                    2007 - {{ "now" | date: "%Y" }} © Tiendanube - Todos los derechos reservados.
                    Términos y condiciones. Políticas de privacidad. Política de calidad.
                </p>
            </div>
        </div>
    </div>
</footer>
{% include partials/end_scripts.html %}
</body>
</html>
