<header class="header" style="background-image: url({{ page.hero_image}});">
    <div class="container">
        <div class="row m-top">
            <div class="col-sm-3">
                <a href="https://tiendanube.com" class="header-logo">{% include svgs/logo_tiendanube.svg fill="#fff" %}</a>
            </div>
            <div class="col-sm-7 col-sm-offset-2">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="navbar-link c-white" href="#">Ingeníeria</a></li>
                    <li><a class="navbar-link c-white" href="#">Trabajá en Tiendanube</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container text-center m-top-double">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="slide-up text-medium c-primary-blue m-none">- {{ page.collection }} -</h2>
                <h1 class="slide-up-delay c-white">{{ page.title }}</h1>
            </div>
        </div>
    </div>
</header>