<header class="header" style="background-image: url({{ page.hero_image | prepend: site.url}});">
    <div class="container">
        <div class="row m-top d-flex-xs align-items-center-xs m-xs-top-half p-xs-all-quarter">
            <div class="col-sm-3 col-xs-7">
                <a href="{{ site.company_url }}" class="header-logo">{% include svgs/logo_tiendanube.svg fill="#fff" %}</a>
            </div>

            <nav role="header-navigation" class="col-sm-7 col-sm-offset-2 hidden-xs">
                <ul class="nav navbar-nav navbar-right">
                    {% for item in site.data.navigation %}
                        <li><a class="navbar-link c-white" href="{{ item.link }}">{{ item.name }}</a></li>
                    {% endfor %}
                </ul>
            </nav>

            <div class="col-xs-5 visible-xs">
                <button type="button" class="js-toggle-header-nav toggle-header-nav btn btn-secondary-inverted">
					{% include svgs/icons/hamburg.svg %}  Menu
				</button>
            </div>
        </div>
    </div>

    <div class="container text-center m-top-double">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h2 class="slide-up text-medium c-primary-blue m-none hidden-xs">- playbook -</h2>
                <h1 class="slide-up-delay c-white">{{ page.title }}</h1>
            </div>
        </div>
    </div>
</header>

{%- comment -%} Mobile navigation {%- endcomment -%}
<div class="js-mobile-nav mobile-nav">
	<img src="{{'/assets/images/illustrations/abstract-1.png' | prepend: site.url }}" height="120" class="misc misc-top-right" aria-hidden="true" />

	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-xs-7">
				<a href="{{ site.company_url }}" class="header-logo">{% include svgs/logo_tiendanube.svg fill="#2c3357" %}</a>
			</div>

			<div class="col-xs-5 text-right">
				<button class="js-mobile-nav-close mobile-nav-close">
					{% include svgs/icons/cancel.svg fill="#2c3357" %}
				</button>
			</div>
		</div>
	</div>

	<nav class="col-sm-12 m-top-double">
		<ul class="list-unstyled">
			{% for item in site.data.navigation %}
				<li class="m-bottom-half"><a class="h4 weight-normal navbar-link" href="{{ item.link }}">{{ item.name }}</a></li>
			{% endfor %}
		</ul>
	</nav>

	<div class="col-sm-12 actions-bottom">
		<a href="{{site.register_url}}" class="btn btn-primary btn-lg">Crear tu Tiendanube</a>
		<a href="{{site.login_url}}">Ingressar a mi tienda</a>
	</div>
</div>