// Inspired in https://medium.com/developing-with-sass/creating-a-dead-simple-sass-mixin-to-handle-responsive-breakpoints

@mixin breakpoint($class) {
    @if $class == xs {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $class == sm {
        @media (min-width: 768px) {
            @content;
        }
    } @else if $class == md {
        @media (min-width: 992px) {
            @content;
        }
    } @else if $class == lg {
        @media (min-width: 1200px) {
            @content;
        }
    } @else {
        @warn 'Breakpoint mixin supports: xs, sm, md, lg';
    }
}

@mixin primary-font($weight) {
    font-family: $main-font-family;
    font-style: normal;
    text-rendering: optimizeLegibility;

    @if $weight == bold {
        font-weight: 500;
    } @else {
        font-weight: 400;
    }
}

@mixin font-size($size-value: 1.6) {
    font-size: ($size-value * 10) + px;
    font-size: $size-value + rem;
}

@mixin clearfix() {
    &:after,
    &:before {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin make-contrast($bg-color, $color) {
    background-color: $bg-color;
    color: $color;
}
