.slide-up {
    opacity: 0;
    animation: slide-up 2s forwards;
    animation-timing-function: $ease-out-expo;
}

.slide-up-delay {
    opacity: 0;
    animation: slide-up 2s forwards;
    animation-delay: 300ms;
    animation-timing-function: $ease-out-expo;
}

@keyframes slide-up {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    60% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}