{%- comment -%} Playbook Navigation {%- endcomment -%}
<div class="js-playbook-navigation-mobile visible-xs">
	<nav role="mobile-navigation" class="playbook-navigation-mobile">
		<button type="button" data-target="top" class="js-mobile-nav-link nav-link">
			<span class="icon">
				{% include svgs/icons/arrow-top.svg color="#ccc" %}
			</span>
			<span class="label">topo</span>
		</button>

		<button type="button" data-target="js-nav" class="js-mobile-nav-link nav-link">
			<span class="icon">
				{% include svgs/icons/list.svg color="#ccc" %}
			</span>
			<span class="label">índice</span>
		</button>

		<button type="button" data-target="js-share" class="js-mobile-nav-link nav-link">
			<span class="icon">
				{% include svgs/icons/share.svg color="#ccc" %}
			</span>
			<span class="label">compartir</span>
		</button>
	</nav>
</div>

{%- comment -%} Playbook Mobile Navigation {%- endcomment -%}
<div class="js-playbook-navigation-mobile-inner playbook-navigation-mobile-inner visible-xs">
	<button class="js-playbook-navigation-mobile-close close-navigation">
		{% include svgs/icons/cancel.svg color="#aaa" %}
	</button>

	<div class="js-nav js-playbook-navigation-content hide">
		{%- include components/playbook-navigation.html -%}
	</div>

	<div class="js-share js-playbook-navigation-content text-center hide">
		<h3 class="m-top-none h4">Compartir en:</h3>
		<ul class="list-unstyled social-share social-share-mobile">
			<li>
				<a class="icon icon-twitter" href="https://twitter.com/intent/tweet?via={{include.twitter_username}}&text={{page.title}} - {{ page.description | strip_html }}&url={{ page.url | prepend: site.url }}&hashtags=#tiendanube-engineering" target="_blank" rel="nofollow">
					{% include svgs/social/twitter.svg color="#029cdc" %}
				</a>
			</li>
			<li>
				<a class="icon icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}" target="_blank" rel="nofollow">
					{% include svgs/social/facebook.svg color="#029cdc" %}
				</a>
			</li>
			<li>
				<a class="icon icon-whatsapp" href="https://api.whatsapp.com/send?text={{ page.title }} {{ page.description | strip_html }} {{ page.url | prepend: site.url }}" target="_blank">
					{% include svgs/social/whatsapp.svg color="#029cdc" %}
				</a>
			</li>
		</ul>
	</div>
</div>

