<div class="playbook-navigation">
    <div class="playbook-navigation-title">
        <img src="{{ '/assets/images/icons/list.png' | prepend: site.url }}" width="50" alt="indice" class="icon img-responsive">
        <h2>Índice</h2>
    </div>
    
    
    <ul class="list-unstyled">
        {% for post in site.[page.collection] %}
            <li>
                <a class="js-anchor nav-link" href="#{{ post.slug }}">
                    {{ forloop.index }}. {{ post.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>