<div class="social-share">
	<p class="c-mid-gray small m-bottom-none m-right-half">Compartír esta sección:</p>

	<ul class="social-icons list-unstyled m-bottom-none">
		<li>
		    <a class="icon icon-twitter" href="https://twitter.com/intent/tweet?via={{include.twitter_username}}&text={{include.meta_title}} - {{ include.meta_description | strip_html }}&url={{ include.meta_url | prepend: site.url }}&hashtags={{ include.twitter_hash }}" target="_blank" rel="nofollow">
			    {% include svgs/social/twitter.svg color="#918a8d" %}
			</a>
		</li>
		<li>
		    <a class="icon icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ include.meta_url | prepend: site.url }}" target="_blank" rel="nofollow">
			     {% include svgs/social/facebook.svg color="#918a8d" %}
		    </a>
		</li>
		<li>
		    <a class="icon icon-whatsapp" href="https://api.whatsapp.com/send?text={{ include.meta_title }} {{ include.meta_description | strip_html }} {{ include.meta_url | prepend: site.url }}" target="_blank">
			    {% include svgs/social/whatsapp.svg color="#918a8d" %}
			</a>
		</li>
	</ul>
</div>
