.nav .navbar-link {
    font-size: $type-baseline-small;
    font-weight: 500;

    &:hover {
        color: $primary-blue;
        background-color: transparent;
        border: 0;
    }
}

// Playbook navigation
.playbook-navigation {
    &-title {
        display: flex;
        align-items: center;
        margin-bottom: $baseline-half;

        .icon {
            margin-right: $baseline-half;
            margin-left: -($baseline-half);
        }
    }

    li {
        display: flex;
        flex-direction: column;
    }

    .nav-link {
        padding: $baseline-quarter 0;
		color: $color-mid-gray;
		transition: color .2s ease;

		&:hover {
			color: $primary-blue;
		}

		&,
		&:hover {
			text-decoration: none;
		}

        &.active {
            color: $dark-blue;
            font-weight: 500;
        }
	}

	&.is-fixed {
		top: 0;
    }
    
    @include breakpoint(xs) {
        background-color: $body-bg;
        margin: -100px 20px 0px 20px;
        border-radius: 8px;
        padding: $baseline-half ($baseline + 15);

        h2 {
            font-size: 1.5em;
        }

        .nav-link {
            font-size: .9em;
        }

        &.is-fixed {
            position: relative;
        }
    }
}
