.nav .navbar-link {
    font-size: $type-baseline-small;
    font-weight: 500;

	&:hover,
	&:focus {
        color: $primary-blue;
        background-color: transparent;
        border: 0;
    }
}

// Playbook navigation
.playbook-navigation {
    &-title {
        display: flex;
        align-items: center;
        margin-bottom: $baseline-half;

        .icon {
            margin-right: $baseline-half;
            margin-left: -($baseline-half);
        }
    }

    li {
        display: flex;
        flex-direction: column;
    }

    .nav-link {
        padding: $baseline-quarter 0;
		color: $color-mid-gray;
		transition: color .2s ease;

		&:hover {
			color: $primary-blue;
		}

		&,
		&:hover {
			text-decoration: none;
		}

        &.active {
            color: $dark-blue;
            font-weight: 500;
        }
	}

	&.is-fixed {
		top: 0;
    }

    @include breakpoint(xs) {
        background-color: $body-bg;
        margin: -100px 20px 0px 20px;
        border-radius: 8px;
        padding: $baseline-half ($baseline + 15);

        h2 {
            font-size: 1.5em;
        }

        .nav-link {
            font-size: .9em;
        }

        &.is-fixed {
            position: relative;
        }
    }
}

// Mobile navigation
.playbook-navigation-mobile {
    position: fixed;
    bottom: -70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: $white;
    box-shadow: 0 0 20px rgba(#000, .1);
    z-index: 10;
    transition: bottom .3s ease;

    &.opened {
        bottom: 0;
    }

    .nav-link {
        padding: 12px 0 10px;
        text-align: center;
        background: $white;
        width: 100%;
		border: 0;
		flex-direction: column;
		align-items: center;
        outline: 0;

        &.active {
            background-color: $gray-bg;

            .icon path,
            .icon circle {
                fill: $primary-blue;
            }

            .label {
                color: $primary-blue;
            }
        }

        .icon {
			max-width: 18px;
			display: block;
			margin: auto;
			line-height: 0;
		}

		.label {
			font-size: .7em;
			color: $gray;
		}

		&:focus {
			outline: 0;
			box-shadow: none;
			border: 0;
		}
    }
}

.playbook-navigation-mobile-inner {
	position: fixed;
	bottom: -60vh;
    background-color: $white;
	padding: $baseline $baseline-double;
    width: 100%;
    height: calc(60vh - 65px);
	border-radius: 20px 20px 0 0;
	box-shadow: 0 0 20px rgba(#000, .1);
    transition: bottom .3s ease;

	&.opened {
		bottom: 60px;
	}

	.playbook-navigation {
		background-color: transparent;
		margin: 0;
        padding: 0;

        ul {
            overflow: auto;
            height: 32vh;
        }
    }

    .close-navigation {
        cursor: pointer;
        border: 0;
        background: transparent;
        outline: 0;
        padding: 0;
        position: absolute;
        right: $baseline-half;
        top: $baseline-half;
        display: block;
        width: 35px;
        height: 35px;
    }
}