
// 1. Typography

.tinu-type {
    @include primary-font(normal);
}

h1,
h2,
h3,
h4,
h5,
h6,
h3 a,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    @include primary-font(bold);
    line-height: 1.2;
    color: $headings-color;
}

body,
label,
input,
select {
    @include primary-font(normal);
    color: $color-text-gray;
}

body,
html {
    background-color: $gray-bg;
}

a {
    color: $link-color;
}

.paragraph {
    @include primary-font(normal);
    font-size: 16px;
    line-height: 1.6;
}

.weight-normal {
    @include primary-font(normal);
}

b,
optgroup,
strong,
.strong {
    @include primary-font(bold);
}

.italic {
    font-style: italic !important;
}

small,
.small,
.font-size-sm {
    font-size: $type-baseline-small !important;
}

.smaller {
    font-size: $type-baseline-tiny;
}

.small-xs {
    @include breakpoint(xs) {
        font-size: $type-baseline-small;
    }
}

.font-size-lg {
    font-size: 120%;
}

.underline {
    display: inline;
    border-bottom: 1px solid;
    padding-bottom: 2px;
    @include primary-font(bold);

    .small & {
        padding-bottom: 0;
    }

}

// scss-lint:disable all
.text-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    /*! autoprefixer: on */
}
// scss-lint:enable all


.winnie-pooh {
    display: none;
}

.text-special {
    font-size: 14px;

    &-alt {
        font-size: 13px;
    }
}

::selection,
.text-selected {
    background: $cloud-blue;
    color: $white;
}

.line-h-alt {
    line-height: 1.4;
}

.line-h {
    line-height: 1.5;
}


.alignnone {
    display: block;
    margin: $baseline-half auto;
    max-width: 100%;
}

.alignleft,
.alignright {
    display: inline-block;
    margin: $baseline-half;
}

.alignleft {
    @include breakpoint(sm) {
        float: left;
        margin-left: 0;
    }
}

.alignright {
    @include breakpoint(sm) {
        margin-right: 0;
        float: right;
    }
}

.wp-caption {
    text-align: center;
    @include clearfix();
    margin-top: $baseline-half;
    margin-bottom: $baseline-half;

    &.alignright {
        @include breakpoint(sm) {
            float: right;
        }
    }

    &.alignleft {
        @include breakpoint(sm) {
            float: left;
        }
    }

    .wp-caption-text {
        font-size: 11px;
        font-style: italic;
        margin: 0;
        padding: $baseline-half;
    }

    img {

        @include breakpoint(xs) {
            text-align: center;
        }
    }
}

code {
    padding: 5px 10px;
    line-height: 18px;
    font-size: 12px;
    border-radius: 4px;
    display: block;
}

footer {
    a {
        color: $nube-white;

        &:hover {
            color: $primary-blue;
        }
    }
}

.lead {
    font-weight: normal;
    line-height: 1.6;
}

.sublead {
    font-size: $type-baseline-medium;
    line-height: 1.6;
}

.text-jumbo {
    font-size: $type-baseline-huge + 1;

    @media (min-width:1180px) {
        line-height: 1;

        &-2x {
            font-size: $type-baseline-jumbo;
        }
    }

    @media (max-width:1179px) {
        line-height: 1.2;

        &-2x {
            font-size: $type-baseline-huge + 1;
        }
    }

    @media (max-width:425px) {
        font-size: $type-baseline-extralarge;
        line-height: 1.3;

        &-2x {
            font-size: $type-baseline-extralarge + 1;
        }
    }

}

.jumbo-metric {
    @include primary-font('bold');
    font-size: $type-baseline-jumbo;
    line-height: 1;
    color: $dark-blue;

    @include breakpoint(lg) {
        @include font-size(8);
    }
}

.text-huge,
h1,
.h1 {
    font-size: $type-baseline-huge;
    line-height: 1.2;

    @media (max-width:425px) {
        font-size: $type-baseline-extralarge;
        line-height: 1.3;
    }
}

.text-extralarge,
h2,
.h2 {
    font-size: $type-baseline-extralarge;
    line-height: 1.3;
}

.text-large,
h3,
.h3 {
    font-size: $type-baseline-large;
    line-height: 1.3;

    &-xs {
        @include breakpoint(xs) {
            font-size: $type-baseline-large;
            line-height: 1.3;
        }
    }
}

.text-large-xs {
    @include breakpoint(xs) {
        font-size: $type-baseline-large;
        line-height: 1.3;
    }
}

.text-medium,
h4,
.h4 {
    font-size: $type-baseline-medium;
    line-height: 1.5;
}

p {
    font-size: $type-baseline-regular;
    line-height: 1.6;

}

.text-regular-xs {
    font-size: $type-baseline-regular;
}

blockquote {
    position: relative;
    padding: $baseline;
    margin: $baseline;
    font-size: $type-baseline-regular;
	border-left: 4px solid $color-mid-gray;

    p {
        font-size: $type-baseline-regular;
        line-height: 1.6;
        z-index: 0;
        position: relative;
        font-style: italic;
        color: $color-mid-gray;
    }
}

// TODO: Refactor this
.h1-plus {
    font-size: 46px;

    @include breakpoint(xs) {
        &-xs {
            font-size: 32px;
        }
    }
}

.h1-extra {
    font-size: 64px;

    @include breakpoint(xs) {
        &-xs {
            font-size: 40px;
        }
    }
}
