{%- comment -%} Head {%- endcomment -%}
{% include partials/head.html %}
{% include partials/header.html %}

<main class="m-top-double m-bottom-double p-vertical m-xs-none p-xs-none">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                {%- comment -%} Navigation {%- endcomment -%}
                {% include components/playbook-navigation.html %}
            </div>

            <div class="col-sm-8">
                <article class="article">
					<section id="{{ page.slug }}">
						<header class="section-header">
							<div class="section-header-title-count" style="background-image: url({{ '/assets/images/backgrounds/section-title-1.png' | prepend: site.url}})">
                                <span class="m-top-quarter">01</span>
                            </div>
							<div class="section-title-content">
                            	{% include components/share-icons.html 
                                    meta_title=page.seo_title
                                    meta_description= page.seo_description
                                    meta_url= page.url
                                    twitter_username= "tiendanube"
                                    twitter_hash="#tiendanube-engineering"
                                %}
								<h2 class="m-top-none">{{ page.title }}</h2>
							</div>
						</header>

                        {{content}}
                    </section>
                    {%- comment -%} All posts {%- endcomment -%}
                    {% for post in site[page.collection] %}
                        {% if forloop.index > 1 %}
                            {% assign count = forloop.index0 | modulo:2 %}
                            {% if count == 0 %}
                                {% assign title_bg = "/assets/images/backgrounds/section-title-1.png" %}
                            {% else %}
                                {% assign title_bg = "/assets/images/backgrounds/section-title-2.png" %}
                            {% endif %}

                            <section id="{{ post.slug }}">
                                <header class="section-header">
                                    <div class="section-header-title-count" style="background-image: url({{title_bg | prepend: site.url}})">
                                        <span class="m-top-quarter">{% if forloop.index < 10 %}0{%endif%}{{ forloop.index }}</span>
                                    </div>

                                    {% capture section_url %}{{page.url}}/#{{post.slug}}{% endcapture %}

                                    <div class="section-title-content">
                                        {% include components/share-icons.html 
                                            meta_title = post.title
                                            meta_description = post.excerpt
                                            meta_url = section_url
                                            twitter_username= "tiendanube"
                                            twitter_hash="#tiendanube-engineering"
                                        %}
                                        <h2 class="m-top-none">{{ post.title }}</h2>
                                    </div>
                                </header>

                                {{ post.content | markdownify }}
                            </section>
                        {% endif %}
                    {% endfor %}
                </article>
            </div>
        </div>
    </div>



</main>

{%- comment -%} Footer {%- endcomment -%}
{% include partials/footer.html %}
