.footer {
    background-color: $dark-blue;
    color: $white;
    padding: $baseline-double 0;

    .logo-footer {
        max-width: 220px;
        display: block;
    }

    .social-footer {
        display: flex;

        .social-link {
            margin-top: $baseline-half;
            margin-right: $baseline;
            display: block;
            color: $nube-white;
            width: 22px;

            &:hover path,
            &:hover circle {
                fill: $primary-blue;
            }
        }
    }

    .copyright {
        display: flex;
        align-items: flex-end;

        @include breakpoint(xs) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}