.header {
    background-color: $dark-blue;
    background-size: cover;
    background-position: top center;
    border-radius: 5px;
    padding: $baseline-half;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.header-logo {
    max-width: 200px;
    display: block;
}